body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 0 10%;
}

h2 {
    color: black;
}

.informacoes {
    margin-bottom: 15px;
}

.redessociais {
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.foto {
    width: 200px; /* Tamanho médio */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    display: block;
    margin: 20px auto; /* Centraliza horizontalmente */
}